@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Главная страница</title>
    </head>
<body>
    <div>@ViewBag.Hour ASP.NET From View</div>
    <div>@ViewBag.Day - best day to learn ASP.NET Core!</div>
    <a asp-action="RsvpForm"> Форма заполнения гостей и подтверждения присутствия</a>
</body>
</html>
