@model Guests
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Форма Подтверждения</title>
    <link rel="stylesheet" href="~/css/styles.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>  
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Форма подтверждения присутствия</h4></div>
        <div class="panel-body">
            <form class="p-a-1" asp-action="RsvpForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Ваше имя:</label>
                    <input class="form-control" asp-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Ваша почта:</label>
                    <input class="form-control" asp-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Ваш телефон:</label>
                    <input class="form-control" asp-for="Phone" />
                </div>
                <div class="form-group">
                    <label>Будете присутствовать?</label>
                    <select class="form-control" asp-for="WillAttend">
                        <option value="">Выберете один из вариантов</option>
                        <option value="true">Да, я буду присутствовать</option>
                        <option value="false">Нет, я не буду присутствовать</option>
                    </select>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Отправить ответ</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
